contact_page {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0rem;
    font-size: 1.125rem;
    color: #525756;
    font-weight: 400;
    line-height: 2;
}

contact_page h1,
h2,
h3,
h4,
h5,
h6 {
    color: #272d2c;
    margin: 0rem 0rem 0.938rem 0rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}

contact_page h1 {
    font-size: 2.625rem;
    line-height: 2.625rem;
}

contact_page h2 {
    font-size: 1.875rem;
    line-height: 2rem;
}

contact_page h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
}

contact_page h4 {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

contact_page h5 {
    font-size: 1rem;
    font-weight: 400;
}

contact_page h6 {
    font-size: 0.75rem;
    font-weight: 400;
}

contact_page p {
    margin: 0 0 1.25rem;
    line-height: 1.6;
}

contact_page p:last-child {
    margin: 0rem;
}

contact_page ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

contact_page a {
    text-decoration: none;
    color: #272d2c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

contact_page a:focus,
a:hover {
    text-decoration: none;
    color: #f8591b;
}

contact_page sub {
    bottom: 0rem;
}

contact_page .lead {
    font-size: 1.438rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'PT Serif', serif;
    color: #272d2c;
    margin-bottom: 2.5rem;
}


contact_page .form-group {
    margin-bottom: 0.313rem;
}

contact_page .form-control {
    border-radius: 0rem;
    color: #6b6c6d;
    font-size: 0.875rem;
    font-weight: 600;
    width: 100%;
    height: 3.25rem;
    padding: 0rem;
    line-height: 1.42857143;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 0.063rem solid #cbcfce;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0rem;
    margin-bottom: 0.625rem;
    -webkit-box-shadow: inset 0 0rem 0rem rgba(0, 0, 0, .075);
    box-shadow: inset 0 0rem 0rem rgba(0, 0, 0, .075);
}

contact_page .form-control:focus {
    color: #34b2a4 !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #34b2a4;
    font-size: 0.75rem;
}

contact_page .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

contact_page input[type=checkbox],
input[type=radio] {
    margin: 0.5rem 0 0;
    margin-top: 0.75rem;
    line-height: normal;
}

contact_page input::-webkit-input-placeholder {
    color: #6b6c6d !important;
}

contact_page input:focus::-webkit-input-placeholder {
    color: #34b2a4 !important;
    bottom: 1.25rem;
    position: relative;
}

contact_page textarea::-webkit-input-placeholder {
    color: #6b6c6d !important;
}

contact_page textarea:focus::-webkit-input-placeholder {
    color: #34b2a4 !important;
    bottom: 1.25rem;
    position: relative;
    font-size: 0.75rem;
}

contact_page .input-group-addon {
    background-color: transparent;
    border: 0.063rem solid #34b2a4;
    border-radius: 0rem;
}

contact_page .focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 0.063rem solid #cbcfce;
    background-color: #fff;
}

contact_page .focus:focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 0.063rem solid #cbcfce;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

contact_page .has-success .form-control {
    border-color: #3c763d;
    background-color: #fff;
    box-shadow: none;
}

contact_page .has-success .form-control:focus {
    border-color: #3c763d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

contact_page .has-error .form-control {
    border-color: #a94442;
    background-color: #fff;
    box-shadow: none;
}

contact_page .has-error .form-control:focus {
    border-color: #34b2a4;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

contact_page .input-group-addon:last-child {
    border-left: 0;
    border-right: transparent;
    border-top: transparent;
}

contact_page .input-group-addon i {
    color: #34b2a4;
}

contact_page option {
    color: #6b6c6d;
}

contact_page hr {
    border-top: 0.063rem solid #e4e9e8;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
contact_page .mb60{margin-bottom:3.75rem;}
contact_page .btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.125rem;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0.688rem 1.875rem;
    border-radius: 0.375rem;
    line-height: 1.8;
    letter-spacing: 0rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    word-wrap: break-word;
    white-space: normal !important;
}

contact_page .btn-primary {
    background-color: #f8591b;
    color: #fff;
    border: 0.063rem solid #f8591b;
}

contact_page .btn-primary:hover {
    background-color: #e64c10;
    color: #fff;
    border: 0.063rem solid #e64c10;
}

contact_page .btn-primary.focus,
.btn-primary:focus {
    background-color: #e64c10;
    color: #fff;
    border: 0.063rem solid #e64c10;
}
contact_page .space-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
contact_page .pdt20 {
    padding-top: 1.25rem;
}

contact_page .contact-pageheader {
    position: relative;
    /* background: rgba(145, 238, 226, 1); */
    background-image: url("https://previews.123rf.com/images/olegdudko/olegdudko1802/olegdudko180201544/94904919-back-to-school-and-education-banner-with-colorful-pencils-and-stationery-blank-copy-space-at-center.jpg");
    /* background: -moz-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145, 238, 226, 1)), color-stop(22%, rgba(145, 238, 226, 1)), color-stop(31%, rgba(145, 238, 226, 1)), color-stop(39%, rgba(145, 238, 226, 1)), color-stop(71%, rgba(57, 196, 182, 1)), color-stop(100%, rgba(57, 196, 182, 1)));
    background: -webkit-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -o-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -ms-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: linear-gradient(to right, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91eee2', endColorstr='#39c4b6', GradientType=1); */
    margin-bottom: 4.375rem;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
}

contact_page .contact-caption {
    position: relative;
    top: 11.25rem;
}

contact_page .contact-title {
    font-family: 'PT Serif', serif;
    font-size: 3.125rem;
    font-style: italic;
    margin-bottom: 2.5rem;
    line-height:5rem;
    font-weight: 300;
}

contact_page .contact-caption-text {
    font-size: 1.438rem;
    color: #A54C6C;
}

contact_page #contact-map {
    height: 28.125rem;
    width: 100%;
    position: relative;
}

contact_page .contact-form {
    background-color: #fff;
    padding: 1.875rem;
    text-align: center;
    position: relative;
    bottom: 0rem;
    top: 6.25rem;
    -webkit-box-shadow: 0.063rem 0.125rem 0.875rem 0rem rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0.063rem 0.125rem 0.875rem 0rem rgba(0, 0, 0, 0.29);
    box-shadow: 0.063rem 0.125rem 0.875rem 0rem rgba(0, 0, 0, 0.29);
}

contact_page .contact-section {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding-bottom: 1.875rem;
    border-bottom: 0.063rem solid #A54C6C;
}

contact_page .contact-section .contact-icon {
    float: left;
    margin-bottom: 1.25rem;
    display: inline-block;
    font-size: 1.563rem;
    color: #A54C6C;
    padding-right: 1.25rem;
    position: initial;
}

contact_page .contact-section .contact-info {
    padding-top: 0.625rem;
    font-weight: 700;
}


contact_page .contact-social ul li {
    float: left;
}

contact_page .contact-social ul li a {
    font-size: 1rem;
    padding-right: 0.625rem;
    color: #6b6c6d;
}

contact_page .contact-social ul li a:hover {
    color: #0084bf;
}

contact_page .location-block {
    border-radius: 0.125rem;
    border: 0.063rem solid #eaeaea;
    padding: 1.875rem;
    margin-bottom: 1.25rem;
    background-color: #fff;
}



contact_page .location-block ul li {
    line-height: 2.2;
    font-size: 0.938rem;
}

contact_page .location-icon {
    color: #0084bf;
    padding-right: 0.625rem;
    font-size: 0.938rem;
}
#contact-map iframe{
    width: 100%;
    height: 600%;
    
}
#contact-map div{
    width: 100%;
}
.multicolortext {
      background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
      -webkit-background-clip: text;
      -moz-background-clip: text; 
      background-clip: text;
      color: transparent;
      } 
.leaflet-container {
  height: 25rem;
  width: 100%;
}