.breadcrumb-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.5rem 0 6.875rem;
    position: relative;
    width:100%;
}
.breadcrumb-image::before {
    background: rgba(0, 0, 0, 0.70) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.breadcrumb-image h1 {
    color: #ffffff;
    font-size: 2.063rem;
    font-weight: 600;
    line-height: 2.5rem;
    position: relative;
    text-transform: uppercase;
}
.breadcrumbs_path {
    color: #fff;
    margin-top: 0.5rem;
    position: relative;
    z-index: 9;
}
.breadcrumbs_path > a {
    color: #fff;
    transition: all 0.3s ease 0s;
}
.black{
    color:black;
}
#gradient_text
{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style:bold;
}
.brown_gradient
{
    background: linear-gradient(to right, #f4775d 0%, #601808 100%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.refund{
    width:90%;
    margin-left:2.188rem;
}
.refund p{
    margin-top:0.938rem;
}
.return_section{
    margin-top:1.25rem;
}
.return_section strong{
    font-size:1.25rem;
}
.return_section ul{
    list-style-type:circle;
    margin-left:1.875rem;
}
.contact_section{
    margin-top:1.25rem;
    margin-bottom:0.625rem;
}
.contact_section strong{
    font-size:0.938rem;
}
.contact_section p{
    margin-left:0.625rem;
}
