.loaderlayout {
    text-align: center;
}

.loader-desc {
    width: 50%;
    margin: auto;
}

.loader-desc>div {
    margin: 0.5rem;
}

.loader-img {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
}

.loaderlayout {
    width: 100%;
    height: 29rem;
}

.product-card-outer {
    margin-top: 2rem !important;
}

.card-layout {
    width: 100%;
    height: 30.5rem;
    position: relative;
    margin: 1rem 0;
    border: 0.5px solid #f3f1f1;
    /* box-shadow: 2px 3px 3px 3px  #f3f1f1; */
}

.card-image {
    width: 100%;
    height: 22rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.card-price {
    background-color: black;
    display: inline-block;
    padding: 0rem 1rem;
    color: whitesmoke;
    display: inline-block;
}

.soldout-outer {
    display: inline-block;
}

.card-soldout {
    margin-left: 1.2rem;
    padding: 0.8rem;
    line-height: 3.5rem;
    background-color: red;
    color: whitesmoke;
    font-weight: 700;
}

.price-linethrough {
    text-decoration: line-through;
}

.card-image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
}

.card-overlay {
    width: 100%;
    height: 22rem;
    /* overlay color : silver */
    background-color: rgb(185, 192, 192);
    opacity: 0;
    position: absolute;
    top: 0;
}

.card-desc {
    width: 80%;
    margin: auto;
    height: 8rem;
    text-align: center;
}

.card-desc div {
    line-height: 3.5rem;
    font-size: 2rem;
    margin: auto;

    text-align: center;
}

.card-desc .card-desc-name {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-icons {
    text-align: center;
    /* z-index: 9999; */
    width: 100%;
    visibility: hidden;
}

.card-icons a {
    color: #333 !important;
}

.card-icons span {
    background-color: whitesmoke;
    display: inline-block;
    padding: 2rem;
    /* width: 50%; */
    margin: 0rem 1rem;
}

.card-bottom {
    position: relative;
    height: 7rem;
}

.card-icons,
.card-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -37%);
}

.card-layout:hover .card-icons {
    visibility: visible;
    transition: ease-in 0.5s;
    transform: translate(-50%, -300%);
}

.card-layout:hover .card-overlay {
    opacity: 0.5;
    transition: ease 0.5s;
}

.MuiSnackbarContent-message {
    font-size: 1.5rem !important;
}

@keyframes icons-move {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {}
}

@media screen and (max-width: 480px) {

    .card-layout {
        margin: 0rem 1rem 0rem 1rem !important;
        width: 94%;
        text-align: center;
        box-shadow: 2px 3px 3px 3px #f3f1f1;
    }

}