*{
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scroll-to-top{
  padding: 1.2rem;
  background-color: saddlebrown;
  color: whitesmoke;
  position: fixed;
  bottom: 50px;
  z-index: 999;
  right: 20px;
  opacity: 0.8;
}
.scroll-to-top .MuiSvgIcon-root{
  font-size: 3rem !important;
}

/* Product Crud Details  */
.crud-details-form{
  text-align: center;
  margin: auto;
  margin-top: 4rem !important;
}
.crud-details-field{
  width: 60%;
  margin: 4rem 2rem !important;
}
.crud-details-field label{
  font-size: 1.2rem;
}
.crud-details-checkbox{
  display: block !important;
  margin: 0 !important;
  width: 9.5rem;
  /* position: relative;
  left: 10rem; */
}
.crud-details-checkbox span{
  padding: 0 !important;
}
.crud-details-checkbox-outer{
  display: inline-flex;
  margin-top: 0 !important;
}
/* .MuiTypography-body1{
  font-size: 2rem !important;
} */

.crud-details-dropzone{
  margin-top: 3rem;
}

.crud-details-upload-container{
  width: 80%;
  margin: 4rem auto 2rem auto;
}

.crud-details-uploaded-images{
  height: 200px;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

.backendpage-title{
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.remove-image-block{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
}

/* Product Crud Details  */

/* CMS.js */
.cms-form{
  text-align: center;
  margin: auto;
}
.cms-field{
  width: 60%;
  margin: 2rem 2rem !important;
}
.cms-crudfield-submit-btn{
  margin: auto !important;
  font-size: 1.3rem !important;
}
.cms-progress-bar{
  width: 80%;
  height: 1rem;
  border-radius: 0.2rem;
  margin: 2rem auto;

}
.MuiInputBase-root, .MuiFormLabel-root{
  font-size: 1.5rem !important;
}

.radio-cover{
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: rgba(255,255,255,0.4);
  font-weight: 600;
}

/* CMS.js */



input[type="checkbox"] {
  margin: 0px 0 ;
}

.soldout-btn > span > label > span{
  font-size: 1rem !important;
  color: orangered;
}

.hideIcon{
  visibility: hidden;
  display: none;
}
/* CMS.js */

/* MaterialNavbar.js */

.nav-searchfilter-lg{
  position: absolute;
  right: 180px;
  top: 28px;
}

.sidenavbar .MuiPaper-root{
  width: 30rem !important;
  background-image: url('../src/images/sidebar_bg.jpg');
}

.category-list .MuiTypography-body1{
  padding-left: 3rem;
  font-size: 1.6rem !important;
  text-decoration: none;
  font-weight: 300;
}
.sidedrawer .MuiTypography-body1{
  padding: 0.3rem 2rem;
  font-size: 1.7rem !important;
  text-decoration: none;
}
.category-list, .sidedrawer{
  color: #f2f2eb;
}
.side-drawer-outer{
  background-color: whitesmoke;
  color: black !important;
  text-decoration: none;
  padding: 0.3rem 1rem;
}
.sidedrawerdiv div a, .categorylistdiv div a{
  text-decoration: none;
  width: 100%;
}
.side-drawer-outer .MuiTypography-body1{
  font-size: 1.7rem !important;
}
.category-list-outer{
  background-color: whitesmoke;
  color: black !important;
  text-decoration: none;
  padding-left: 1.5rem;
}

.category-list-outer .MuiTypography-body1{
  font-size: 1.6rem !important;
}


.NavMenuIcon{
  /* background-color: #eee; */
  cursor: pointer;
  line-height: 8.5rem;
  float: left;
  width: 70px;
  height: 70px;
}
.NavMenuIcon:hover{
  background-color: #eeeeee;
}

.fulllogo {
  float: left;
}
.fulllogo a{
  display: block;
}
.fulllogo img{
  max-width: 225px;
}
.navigation{
  /* height: 12.7rem; */
  display: block;
}
.RightNavItems{
  line-height: 8.5rem;
}
.RightNavItems div{
  float: right;
  /* width: 100%; */
}
.RightNavItems div span{
    padding: 0 2rem;
}
.RightNavItems div span a{
  color: black !important;
  cursor: pointer;
}
.NavItem1{
  border-right: 3px solid black;
}
/* MaterialNavbar.js */

/* Productcard.js */

.loader-desc{
  width:50%;
  margin: auto;
}
.loader-desc > div{
  margin: 0.5rem;
}
.loader-img{
  width: 100%;
  padding: 0.5rem;
  margin: auto;
}

.loaderlayout{
  width: 100%;
  height: 29rem;
}

.product-card-outer{
  margin-top: 2rem !important;
}
.card-layout{
  width: 100%;
  height: 29rem;
  position: relative;
  margin: 1rem 0;
}
.card-image{
  width: 100%;
  height: 22rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.card-price{
  background-color: black;
  display: inline-block;
  padding: 0rem 1rem;
  color: whitesmoke;
  display: inline-block;
}
.soldout-outer{
  display: inline-block;
}
.card-soldout{
   margin-left: 1.2rem;
   padding: 0.8rem;
   line-height: 3.5rem;
   background-color: red;
   color: whitesmoke;
   font-weight: 700;
}
.price-linethrough{
  text-decoration: line-through;
}
.card-image img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;

}   
.card-overlay{
  width: 100%;
  height: 22rem;
  background-color: slategray;
  opacity: 0;
  position: absolute;
  top: 0;

}
.card-desc{
  width: 80%;
  margin: auto;
  height: 8rem;
  text-align: center;
}
.card-desc div{
  line-height: 3.5rem;
  font-size: 2rem;
  margin: auto;
  
  text-align: center;
}
.card-desc .card-desc-name{
 width: 90%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}
.card-icons{
  text-align: center;
  /* z-index: 9999; */
  width:100%;
  visibility: hidden;

}
.card-icons a{
color: #333 !important;
}
.card-icons span{
  background-color: whitesmoke;
  display: inline-block;
  padding: 2rem;
  /* width: 50%; */
  margin: 0rem 1rem;
}
.card-bottom{
  position: relative;
  height: 7rem;
}
.card-icons, .card-desc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-37%);
}

.card-layout:hover .card-icons {
  visibility: visible;
  transition: ease-in 0.5s;
  transform: translate(-50%,-300%);
}
.card-layout:hover .card-overlay{
  opacity: 0.5;
  transition: ease 0.5s;
}
@keyframes icons-move{
  0%{
      transform: translate(-50%,-50%);
  }
  100%{
      
  }
}

/* filtersort.js */

.filter-sort-form{
  width: 100%;
}
.filter-sort-form .MuiFormControl-root{
  display:inline-block;
}
.filter-sort-form-filtercontrol, .filter-sort-form-filtercontrol > div{
  width: 100%;
}
.filter-sort-form-sortby > div{
  /* width: 12rem; */
  display: inline-block !important;
  /* float: left; */
}
.filter-sort-form-sortby .MuiSelect-icon{
  font-size: 30px !important;
  color: saddlebrown;
}
.filter-sort-form-sortby > div > div{
  display: inline-block !important;
  padding-right: 0 !important;
  width: 175px;
}
.filter-sort-form-sortby > div > div > div{
  width: auto;
}
.filter-sort-form-sortcontrol > div{
  display: inline-block;
}
.filter-sort-dialog > div > div{
  width: 40rem;
}
.filter-sort-dialog-title .MuiTypography-root{
  font-size: 1.5rem;
}
.filter-sort-form-checkbox{
  line-height: 5rem;
  float: right;
  margin: 0 1.5rem !important;
}
.filter-sort-btn{
  float: right;
}
.filter-sort-btn .MuiButton-label{
  /* font-size: 1.1rem !important; */
 
  color: saddlebrown;
}

/* filtersort.js */


/* FILTERSORTMAIN */


.filter-chip{
  margin: 0.5rem !important;
}
.bestselling-chip{
  margin: 0.5rem !important;
}

/* FILTERSORTMAIN */





/* SearchFilter.js */
.global-search{
  text-align: center;
  width:100%;
  position: relative;
}
.global-search-input {
  width: 98%;
  margin: 0 1%;
  /* padding: 0 0.5rem; */
}
.global-search-input .MuiFormControl-root{
  width: 100%;
}
.global-search-input .MuiInputBase-input{
  margin:0 1rem;
}
.global-search ul{
    padding: 0;
    margin: 0 1%;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    z-index: 999;
    position: absolute;
    display: block;
    width: 98%;
}
.global-search ul > a{
  border: none !important;
  background-color: whitesmoke;
  /* color: brown; */
}
.global-search ul > a:hover{
  border: none !important;
  background-color: rgb(220, 220, 220);
  /* color: brown; */
}

/* SearchFilter.js */






/* searchfilterlarge */

.global-search-lg{
  text-align: center;
  padding: 0 1rem;
}

.global-search-input-lg {
  /* background-color: #d3d3d3; */
  /*box-shadow: rgb(120, 120, 120) !important; */
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  
  width: 96%;
  margin: 0 1%;
  
}
.global-search-input-lg .MuiFormControl-root{
  /* width: 100%; */
}
.global-search-input-lg .MuiInputBase-input{
  margin:0 1rem;
  width: 19rem;
}
.global-search-lg ul{
  padding: 0;
  margin: 0 1%;
  box-shadow: rgb(120, 120, 120);
  z-index: 999;
  display: block;
  width: 98%;
}
.global-search-lg ul > a{
  border: none !important;
  background-color: whitesmoke;
  /* color: brown; */
}
.global-search-lg ul > a:hover{
  border: none !important;
  background-color: rgb(220, 220, 220);
  /* color: brown; */
}


/* searchfilterlarge */


/* home.js */
.home-carousel{
   margin-top: 1rem;
}

/* home.js */

/* NoREsult.js */
.no-result-page{
  box-sizing: border-box;
  
}
.no-result{
  margin: auto;
  
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  width: 250px;
  height: 380px;
  z-index: 6;
}
.no-result h2{
    text-align: center;
    color:brown;
}
.no-result-page{
  text-align:center;
  
}
.no-result-page .no-result-lower{
    color:brown;
    
    bottom:12rem !important;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    display: block;
    padding: 0rem 1.5rem;
    
}
.no-result-page .no-result-lower .no-result-sorry{
  font-size: 3rem; 
}
/* .no-result-lower{
    text-align: center;
    
}
.no-result-buttons {
    text-align: center;
    width:100%;
    display: block;
} */
.no-result-page .no-result-buttons{
  color:brown;
  
  bottom:12rem !important;
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  display: block;
  padding: 0rem 1.5rem;
  
}
.no-result-buttons .MuiTypography-body1{
  font-size: 1.6rem;
}
 .trey .top, .trey .bottom .inner{
  background-color: #322A2A;
  width: 150px;
  border: 2px solid #100B0C;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
}
 .trey .top{
   height: 95px;
   z-index: 5;
   overflow: hidden;
}
 .trey .bottom{
  background-color: #fff;
  padding: 0 5px;
  margin: 0 auto;
  width: 160px;
  z-index: 6;
  position: relative;
  margin-top: 75px;
  border-radius: 5px 5px 0 0;
}
 .trey .bottom .inner{
   height: 110px;
   border-radius: 0 0 15px 15px;
   box-shadow: 0 5px 2px #978F8B;
}
 .trey .grey-border{
  height: 10px;
  width: 175px;
  background-color: rgba(150,150,150, .2);
  margin: -1px -10px;
  top: 176px;
  position: absolute;
  z-index: 7;
  left: 50px;
}
 .trey .pointer{
    height: 10px;
    width: 30px;
    background-color: #3c3637;
    margin: 0 15px;
    border-radius: 0 0 7px 7px;
    position: absolute;
    top: 176px;
    left: 45px;
    z-index: 7;
    -webkit-animation-name: pointer;
    -webkit-animation-duration: 4s; 
    animation-name: pointer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
 .trey .bottom .inner:after{
  content: '';
  position: absolute;
  bottom: -7px;
  margin: 0 auto;
  height: 10px;
  border: 2px solid #100B0C;
  width: 70px;
  background-color: #443C3D;
  border-radius: 8px;
  left: 37px;
}
 .button-layer{
  z-index: 3;
}
 .button-layer .top-perspective{
  perspective: 100px;  
  position: absolute;
  top: 80px;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #422A8F;
  border-radius: 10px 10px 0 0;
  border: 2px solid #100B0C;
  z-index: 4;
}
 .button-layer .bottom{
  position: absolute;
  top: 132px;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #2E1285;
  border-radius: 0 0 10px 10px;
  border: 2px solid #100B0C;
  z-index: 5;
}
.buttons-container{
  background-color: #1F1D36;
  height: 25px;
  width: 120px;
  position: absolute;
  top: 125px;
  left: 50px;
  border-radius: 5px;
  border: 2px solid #100B0C;
  z-index: 5;
}
 .button1,  .button2,  .button3{
  background-color: #fff;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  float: left;
  z-index: 5;
}
 .button1{
  margin: 5px 0 0 10px;
  background-color: #85CCEB;
}
 .button2{
  margin: 5px 0 0 10px;
  background-color: #F7D65B;
}
 .button3{
  margin: 5px 0 0 10px;
  background-color: #85CCEB;
  position: absolute;
  top: 150px;
  right: 10px;
}
 .paper1{
  background-color: #FBFBFB;
  height: 150px;
  width: 130px;
  position: absolute;
  left: 10px;
  z-index: 5;
  border-radius: 10px;
  border: 2px solid #000;
  -webkit-animation-name: paper1;
  -webkit-animation-duration: 4s; 
  animation-name: paper1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes paper1 {
  0%   { top: -100px}
  100% {top: 250px; border: 0;}
}
 .paper2{
  background-color: #FBFBFB;
  width: 130px;
  position: absolute;
  left: 58px;
  z-index: 6;
  border-radius: 0 0 10px 10px;
  border: 2px solid #000;
  -webkit-animation-name: paper2;
  -webkit-animation-duration: 4s; 
  animation-name: paper2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  overflow: hidden;
}
@keyframes paper2 {
  0%   { top: 175px; height: 0px;}
  10%   { top: 175px; height: 0px;}
  80%  { top: 175px; border-radius: 10px; height: 150px;}
  100% { top: 220px; border-radius: 10px;}
}

@keyframes pointer{
  0%  { left: 45px }
  10%  { left: 145px }
  20%  { left: 45px }
  30%  { left: 145px }
  40%  { left: 45px }
  50%  { left: 145px }
  60%  { left: 45px }
  70%  { left: 145px }
  80%  { left: 45px }
}
 .e1,  .e2,  .e3,  .e6{
  background-color: #d8d6d6;
  height: 10px;
  width: 90%;
  margin: 10px auto;
}
 .e4,  .e5{
  clear: both;
  display: table;
}
 .e41, .text,  .e42, .e51, .e52{
  float: left;
}
.e41,  .e42, .e51, .e52 {
  background-color: #d8d6d6;
  height: 10px;
  margin: 5px 10px;
  width: 10px;
}
 .e51, .e52{
  width: 28px;
}
 .text{
  font-family: arial, verdana;
  font-weight: bold;
  font-size: 18px;
}
.enter-value-right h2{
    text-align: center;
    width:100%;
    padding: 0;
}

/* NoREsult.js */

/* NoREsult.js */
/* Product_page */
.shop-title{
  /* text-align: center; */
  font-weight: 600;
  font-size: 3rem;
}

.product-main-image{
  width:100%;
  height:50rem;
  overflow: hidden;
  background-color: #eee;
  /* box-shadow:1px 1px 2px 2px gray; */
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.product-main-image img{
  align-self:center;
  max-width: 100%;
  max-height:50rem;
  overflow: hidden;
}

.product-images :last-child{
  display:flex;
  /* overflow: hidden; */
  
}
.share-btn, .whatsapp-btn{
  background-color: blue;
  color:whitesmoke;
  font-size:1.2rem;
  margin: 0.5rem;
}
.slider-outer{
  width: 100%;
  align-items: center;
}

.image-outer{
  /* min-width: 25%; */
  width: 25%;
  margin: 0;
  padding: 1rem 0;
}
.image-outer Button{
  margin: auto;
}

@media only screen and (max-width:600px){
  .RightNavItems div{
      float: none;
      line-height: 5rem;
  }
  .fulllogo img{
      float: right;
      padding-left: 0;
  }
  .product-main-image{
      width:100%;
      height:30rem;
  }
}


/* Product_page */



/* xxxxxxxxxx */

#carousel {
  position: absolute;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 780px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}
.level-2 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #228291;
  left: 650px;
  margin-top: 10px;
}

.level-1 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #6796E5;
  left: 500px;
  margin-top: 10px;
}

.level0 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #4EC9E1;
  left: 330px;
  margin-top: 10px;
}

.level1 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #6796E5;
  margin-top: 10px;
  left: 180px;
}

.level2 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #228291;
  margin-top: 10px;
  left: 50px;
}
.left-enter {
  opacity: 0;
  left: -60px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 50px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 780px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 760px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
  left: 50px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
}

.right-leave.right-leave-active {
  left: -60px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Brands.js */
.slider-main {
  -webkit-box-align: center;
          align-items: center;
  background: #E3E3E3;
  display: -webkit-box;
  display: flex;
  /* height: 25vh; */
  -webkit-box-pack: center;
          justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 4));
            transform: translateX(calc(-250px * 4));
  }
}
.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/* Brands.js */


/* bestselling.js */

.home-bestselling-img:hover {
  transition: 0.25s ease-in-out;
  transform: scale(1.2);
}

.home-bestselling{
  height: 9.375rem;
  overflow: hidden;
  display: list-item;
}
.home-bestselling img{
  /* display: block; */
  line-height: 9.375rem;
}
.bestselling-component{
  margin: 1rem 0;
}
.bestselling-component .MuiPaper-root{
  padding: 1rem;
}

/* bestselling.js */

/* Footer.js */

.footer-section ul {
  margin: 0;
  padding: 0;
}
.footer-section {
background: #202020;
position: relative;
margin-bottom: 0;
margin-top: 4rem;
bottom:0;

}
.footer-section .footer-cta {
border-bottom: 0.063rem solid #373636;
margin-top:1.5rem
}

.footer-section .cta-text {
padding-left: 1.5rem;
display: inline-block;
}
.footer-section .cta-text h4 {
color: whitesmoke;
font-size: 3.2rem;
font-weight: 600;

}
.footer-section .cta-text span {
color: #757575;
font-size: 0.938rem;
}
.footer-section .footer-content {
position: relative;
z-index: 2;
}
.footer-section .footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 20.625rem;
background-size: cover;
background-position: 100% 100%;
}
.footer-section .footer-logo {
margin-bottom: 1.875rem;
}
.footer-section .footer-logo img {
  max-width: 12.5rem;
}
.footer-section .footer-text p {
margin-bottom: 0.875rem;
font-size: 0.875rem;
    color: #7e7e7e;
line-height: 1.75rem;
}
.footer-section .footer-social-icon{
  margin-top:0.5rem;
}
.footer-section .footer-social-icon span {
color: whitesmoke
;
display: block;
font-size: 1.8rem;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 1.25rem;
}
.footer-section .footer-social-icon a {
color: #fff;
font-size: 1rem;
margin-right: 0.938rem;
}
.footer-section .footer-social-icon i {
height: 2.5rem;
width: 2.5rem;
text-align: center;
line-height: 1.875rem;
border-radius: 50%;
}
.footer-section .linkedin-bg{
background: rgb(2, 8, 121);
}
.footer-section .twitter-bg{
background: #55ACEE;
}
.footer-section .google-bg{
background: saddlebrown;
}
.footer-section .footer-widget-heading h3 {
color: whitesmoke;
font-size: 1.8rem;
font-weight: 600;
margin-bottom: 2.5rem;
position: relative;
padding-top: 2rem;
}
.footer-section .footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -0.938rem;
height: 0.125rem;
width: 3.125rem;
background: saddlebrown;
}
.footer-section .footer-widget ul li {
display: inline-block;
/* float: left; */
width: 50%;
margin-bottom: 0.75rem;
}
.footer-section .footer-widget ul li a:hover{
color: saddlebrown;
}
.footer-section .footer-widget ul li a {
color: whitesmoke;
text-transform: capitalize;
}
.footer-section .subscribe-form {
position: relative;
overflow: hidden;
}
.footer-section .subscribe-form input {
width: 100%;
padding: 0.875rem 1.75rem;
background: #2E2E2E;
border: 0.063rem solid #2E2E2E;
color: #fff;
}
.footer-section .subscribe-form button {
  position: absolute;
  right: 0;
  background: saddlebrown;
  padding: 0.813rem 1.25rem;
  border: 0.063rem solid saddlebrown;
  top: 0;
}
.footer-section .subscribe-form button i {
color: #fff;
font-size: 1.375rem;
transform: rotate(-6deg);
}
.footer-section .copyright-area{
background: #202020;
padding: 1.563rem 0;
}


.footer-section .footer-menu ul{
  width:100%;
  text-align-last: center;
}
.footer-section .footer-menu li {
  display: inline-block;
  margin-left: 1rem;
  text-align: left;
}
.footer-section .footer-menu li:hover a{
color: saddlebrown;
}
.footer-section .footer-menu li a {
  font-size: 1.15rem;
  /* text-align: center; */
  color: whitesmoke;
}
.footer-section ul {
  margin: 0;
  padding: 0;
}
.footer-section .footer-section {
background: #151414;
position: relative;
}
.footer-section .footer-cta {
border-bottom: 0.063rem solid #373636;
}
.footer-section .single-cta i {
  color: saddlebrown;
  font-size: 5rem;
  float: left;
  /* margin-top: 8px; */
}


.footer-section .cta-text span {
color: #757575;
font-size: 0.938rem;
}
.footer-section .footer-content {
position: relative;
z-index: 2;
}
.footer-section .footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 20.625rem;
background-size: cover;
background-position: 100% 100%;
}
.footer-section .footer-logo {
margin-bottom: 1.875rem;
}
.footer-section .footer-logo img {
  max-width: 200px;
}
.footer-section .footer-text p {
margin-bottom: 0.875rem;
font-size: 0.875rem;
color: whitesmoke;
line-height: 1.75rem;
}

.footer-section .footer-social-icon a {
color: #fff;
font-size: 1rem;
margin-right: 0.938rem;
}
.footer-section .footer-social-icon i {
height: 40px;
width: 40px;
font-size: 2rem;
text-align: center;
line-height: 38px;
border-radius: 50%;
}


.footer-section .footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -0.938rem;
height: 0.125rem;
width: 3.125rem;
background:saddlebrown;
}
.footer-section .footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 0.75rem;
}
.footer-section .footer-widget ul li a:hover{
color: saddlebrown;
}

.footer-section .subscribe-form {
position: relative;
overflow: hidden;
}
.footer-section .subscribe-form input {
width: 100%;
padding: 0.875rem 1.75rem;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.footer-section .subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 0.813rem 1.25rem;
  border: 0.063rem solid #ff5e14;
  top: 0;
}
.footer-section .subscribe-form button i {
color: black;
font-size: 1.375rem;
transform: rotate(-6deg);
}
.footer-section .copyright-area{
background: #202020;
padding: 1rem 0;
}
.footer-section .copyright-text{
  margin: 0.8rem 0rem 0rem 0rem;
  line-height: 50%;
}
.footer-section .copyright-text p {
margin: 0.8rem 0rem 0.8rem 0rem;
font-size: 1.5rem;
color: #e2dbdb;

}
.footer-section .copyright-text p a{
color: saddlebrown;
font-size: 1.9rem;
}
.footer-section .footer-menu{
margin: 0.8rem 0rem 0.8rem 0rem;
line-height: 50%;
}
.footer-section .footer-menu li {
display: inline-block;

}
.footer-section .footer-menu li:hover a{
color: saddlebrown;
}

/* productpage */

.product-name-style{
  font-size: 4rem;
  margin: 0;
  font-family: Lobster;
}


.product-page-breadcrumb nav ol li a{
color: #999999;
}

.product-page-slick .slick-list .slick-track{
height: 100px !important;
vertical-align: middle !important;
display: flex !important;
justify-content: center;
}
.product-page-slick .slick-list .slick-track .slick-slide{
display: flex !important;
align-items: center;
justify-content: center;
height: auto;
}
.prod-slick-outer{
display:list-item;

list-style: none;
align-items: center;

}
.buy-connect-btn{
margin-top: 2rem;
width: 150px;
display: flex;
justify-content: center;
align-items: center;
height: 53.88px;
background-color:#4FCE5D;
border-radius: 2rem;
/* margin-left: 2.5rem; */
}
.buy-connect-btn a, a:link, a:visited,a:active{ 
color:whitesmoke;
font-weight: 700;
text-decoration: none;
font-size: 1.5rem;
transition: 0.2s ease-in-out;
}

.buy-connect-btn a:hover{
color: whitesmoke;
font-weight: 700;
font-size: 1.6rem;
}

/* productpage */

/* sharecomponent */

/* .react-share__ShareButton .MuiButton-root{
  width: 0 !important;
  min-width: 0 !important;
} */

.shareComp{
display: flex;
position: relative;
height: 53.88px;
width: auto;
margin-top: 2rem;
}
.shareText {
border-radius: 3rem;
display: flex;
height: 53.88px;
width: 55px;
background-color: rgb(36,88,255);
justify-content: center;
align-items: center;
}
.shareText .MuiButton-label{
color: whitesmoke;
}


/* .shareText .MuiButton-label{
width: auto;
padding: 1rem;
border-radius: 50%;
background-color: whitesmoke;
} */

.shareBtn-outer{
position: relative;
height: 53.88px;
display:flex;
border-radius: 3rem;
background-color: rgb(36,88,255);
width: 260px;
justify-content: center;
align-items: center;
transition: 0.5s ease-in-out;
}

.share-buttons .MuiButton-label{
width: auto;
padding: 1rem;
border-radius: 50%;
background-color: whitesmoke;
}
.shareAll {
display: flex;
/* display: none; */
/* opacity: 0; */
transition: 0.5s ease-in-out;
}
.shareText{
z-index: 999;
color: whitesmoke;
font-size: 2.5rem;
font-weight: 500;
transition: 0.5s ease-in-out;
}

/* sharecomponent */

/* productpage */

@media screen and (max-width:460px){
  .footer-section .single-cta i {
      color: #ff5e14;
      font-size: 2rem;
      float: left;
      /* margin-top: 8px; */
  }
    .footer-section .copyright-text{
  margin: 0.8rem 0rem 0.8rem 0rem;
  padding-top:0.4rem;
  line-height: 50%;
}
    .footer-section .cta-text h4 {
      color: whitesmoke;
      font-size: 1.3rem;
      font-weight: 600;
      
      }
      .footer-section .copyright-text p {
          
          font-size: 1.1rem;
          color: #878787;
          line-height: 50%;
          }
          .footer-section .copyright-text p a{
          color: #ff5e14;
          font-size: 1.4rem;
          }
    
}

@media screen and (max-width:600px){
  .product-name-style{
    font-size: 3rem;
  }
  /* .pro-main-image{
    order:2;
  }
  .pro-main-details{
    order:3;
  }
  .pro-main-intro{
    order:1;
  } */
}




/* Footer.js */
/* Shipping.js */
.shipping-page h2{
text-align: center;
margin-top: 1.5rem;
}
.shipping-para-one{
margin: 2rem 0rem 1rem 0rem;
padding-top: 0.7rem;
}

.shipping-points{
margin: 1rem 0rem 1rem 1.7rem;
}
.footer-second-points {
margin: 1rem 0rem 1rem 1.7rem;
}
/* Shipping.js */

/* Refund.js */
.refund-page h2{
text-align: center;
margin-top: 1.5rem;
font-weight: 500;
}
.refund-ques .ques-text .MuiTypography-root{
font-size: 2rem;
color: black;
}
.return-policy .return-policy-head {
margin-bottom: 1rem;
}
.return-policy .return-policy-head span{
font-size: 2.5rem;

}
.return-policy-detail{
margin-top: 1rem;
}
.return-policy-detail span{
font-size: 2rem;
margin-bottom: 3rem;
}
.return-policy-detail ul{
margin-top: 1rem;
}


/* Refund.js */


/* login.js admin page */


.login-page{
  width: 100%;
  margin: auto;
}
.login-outer{
  width: 400px;
  height:400px;
  margin: 4rem auto;
  text-align: center;
}
.login-outer .MuiPaper-root{
  padding: 6rem 1rem;
}
.login-mail .MuiInput-formControl, .login-pass .MuiInput-formControl{
  width: 300px;
  margin: 2rem 0 !important;
}


/* login.js admin page */

/* admin buttons */

.admin-buttons {
  margin:0rem 0.5rem !important;
}
.admin-buttons a,.admin-buttons a:link, .admin-buttons a:visited, .admin-buttons a:hover{
  color:white !important;
}

/* admin buttons */