*{
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* Product Crud Details  */
.crud-details-form{
    text-align: center;
    margin: auto;
    margin-top: 4rem !important;
}
.crud-details-field{
    width: 60%;
    margin: 4rem 2rem !important;
}
.crud-details-field label{
    font-size: 1.2rem;
}
.crud-details-checkbox{
    display: block !important;
    margin: 0 !important;
    width: 9.5rem;
    /* position: relative;
    left: 10rem; */
}
.crud-details-checkbox span{
    padding: 0 !important;
}
.crud-details-checkbox-outer{
    display: inline-flex;
    margin-top: 0 !important;
}
/* .MuiTypography-body1{
    font-size: 2rem !important;
} */

.crud-details-dropzone{
    margin-top: 3rem;
}

.crud-details-upload-container{
    width: 80%;
    margin: 4rem auto 2rem auto;
}

.crud-details-uploaded-images{
    height: 200px;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.backendpage-title{
    text-align: center;
    margin: 2rem auto 1rem auto;
}

.remove-image-block{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
}

/* Product Crud Details  */

/* CMS.js */
.cms-form{
    text-align: center;
    margin: auto;
}
.cms-field{
    width: 60%;
    margin: 2rem 2rem !important;
}
.cms-crudfield-submit-btn{
    margin: auto !important;
    font-size: 1.3rem !important;
}
.cms-progress-bar{
    width: 80%;
    height: 1rem;
    border-radius: 0.2rem;
    margin: 2rem auto;

}
.MuiInputBase-root, .MuiFormLabel-root{
    font-size: 1.5rem !important;
}

/* CMS.js */



input[type="checkbox"] {
    margin: 0px 0 ;
}

.soldout-btn > span > label > span{
    font-size: 1rem !important;
    color: orangered;
}

.hideIcon{
    visibility: hidden;
    display: none;
}
/* CMS.js */

/* MaterialNavbar.js */
.sidenavbar .MuiPaper-root{
    width: 30rem !important;
    background-image: url('../src/images/sidebar_bg.jpg');
}

.category-list .MuiTypography-body1{
    padding-left: 3rem;
    font-size: 1.6rem !important;
    text-decoration: none;
    font-weight: 300;
}
.sidedrawer .MuiTypography-body1{
    padding: 0.3rem 2rem;
    font-size: 1.7rem !important;
    text-decoration: none;
}
.category-list, .sidedrawer{
    color: #f2f2eb;
}
.side-drawer-outer{
    background-color: whitesmoke;
    color: black !important;
    text-decoration: none;
    padding: 0.3rem 1rem;
}

.side-drawer-outer .MuiTypography-body1{
    font-size: 1.7rem !important;
}
.category-list-outer{
    background-color: whitesmoke;
    color: black !important;
    text-decoration: none;
    padding-left: 3rem;
}
.category-list-outer .MuiTypography-body1{
    font-size: 1.6rem !important;
}
/* MaterialNavbar.js */

/* Home.js */

.fulllogo {
    width: 22rem;
    float: left;
    /* top: -0.7rem;
    position: absolute; */
    padding-left: 3rem;
}
.navigation{
    /* height: 12.7rem; */
    display: block;
}
.RightNavItems{
    line-height: 6.5rem;
}
.RightNavItems div{
    float: right;
}
.RightNavItems div span{
    padding: 0 3rem;
}
.RightNavItems div span a{
    color: black;
    cursor: pointer;
}
.RightNavItems div span:first-child{
    border-right: 2px solid black;
}


/* Home.js */