App* {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* body .MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
} */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll-to-top {
  padding: 1.2rem;
  background-color: orangered;
  color: whitesmoke;
  position: fixed;

  bottom: 50px;
  z-index: 999;
  right: 20px;
  opacity: 0.8;
}

.scroll-to-top .MuiSvgIcon-root {
  font-size: 3rem !important;
}

/* Product Crud Details  */
.Toastify .Toastify__toast--default {
  background-color: orangered !important;
  color: whitesmoke !important;
  font-weight: 500;
}

.Toastify__close-button--default {
  color: white !important;
}

.crud-details-form {
  text-align: center;
  margin: auto;
  margin-top: 4rem !important;
}

.crud-details-field {
  width: 60%;
  margin: 4rem 2rem !important;
}

.crud-details-field label {
  font-size: 1.2rem;
}

.crud-details-checkbox {
  display: block !important;
  margin: 0 !important;
  width: 9.5rem;
  /* position: relative;
  left: 10rem; */
}

.crud-details-checkbox span {
  padding: 0 !important;
}

.crud-details-checkbox-outer {
  display: inline-flex;
  margin-top: 0 !important;
}

/* .MuiTypography-body1{
  font-size: 2rem !important;
} */

.crud-details-dropzone {
  margin-top: 3rem;
}

.crud-details-upload-container {
  width: 80%;
  margin: 4rem auto 2rem auto;
}

.crud-details-uploaded-images {
  height: 200px;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

.backendpage-title {
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.remove-image-block {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
}

/* Product Crud Details  */

/* CMS.js */
.cms-form {
  text-align: center;
  margin: auto;
}

.cms-field {
  width: 60%;
  margin: 2rem 2rem !important;
}

.cms-crudfield-submit-btn {
  margin: auto !important;
  font-size: 1.3rem !important;
}

.cms-progress-bar {
  width: 80%;
  height: 1rem;
  border-radius: 0.2rem;
  margin: 2rem auto;
}

.MuiInputBase-root,
.MuiFormLabel-root {
  font-size: 1.5rem !important;
}

.radio-cover {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
}

/* CMS.js */

input[type="checkbox"] {
  margin: 0px 0;
}

.soldout-btn>span>label>span {
  font-size: 1rem !important;
  color: orangered;
}

.hideIcon {
  visibility: hidden;
  display: none;
}

/* CMS.js */

/* FILTERSORTMAIN */

.filter-chip {
  margin: 0.5rem !important;
}


/* FILTERSORTMAIN */

/* SearchFilter.js */


/* SearchFilter.js */

/* searchfilterlarge */

.global-search-lg {
  /* text-align: center; */
  padding: 0 1rem;
}

.global-search-input-lg {
  /* background-color: #d3d3d3; */
  /*box-shadow: rgb(120, 120, 120) !important; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  /* 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12); */
  border-radius: 0.5rem;

  width: 96%;
  margin: 0 38%;
}

.global-search-input-lg .MuiFormControl-root {
  /* width: 100%; */
}

.global-search-input-lg .MuiInputBase-input {
  margin: 0 1rem;
  width: 19rem;
}

.global-search-lg ul {
  padding: 0;
  margin: 0 1%;
  box-shadow: rgb(120, 120, 120);
  z-index: 999;
  display: block;
  width: 98%;
}

.global-search-lg ul>a {
  border: none !important;
  background-color: whitesmoke;
  /* color: brown; */
}

.global-search-lg ul>a:hover {
  border: none !important;
  background-color: rgb(220, 220, 220);
  /* color: brown; */
}

/* searchfilterlarge */

/* home.js */
.home-carousel {
  margin-top: 1rem;
}

/* home.js */

/* NoREsult.js */
.no-result-page {
  box-sizing: border-box;
}

.no-result {
  margin: auto;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 380px;
  z-index: 6;
}

.no-result h2 {
  text-align: center;
  color: brown;
}

.no-result-page {
  text-align: center;
}

.no-result-page .no-result-lower {
  color: brown;

  bottom: 12rem !important;
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  display: block;
  padding: 0rem 1.5rem;
}

.no-result-page .no-result-lower .no-result-sorry {
  font-size: 3rem;
}

/* .no-result-lower{
    text-align: center;
    
}
.no-result-buttons {
    text-align: center;
    width:100%;
    display: block;
} */
.no-result-page .no-result-buttons {
  color: brown;

  bottom: 12rem !important;
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  display: block;
  padding: 0rem 1.5rem;
}

.no-result-buttons .MuiTypography-body1 {
  font-size: 1.6rem;
}

.trey .top,
.trey .bottom .inner {
  background-color: #322a2a;
  width: 150px;
  border: 2px solid #100b0c;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
}

.trey .top {
  height: 95px;
  z-index: 5;
  overflow: hidden;
}

.trey .bottom {
  background-color: #fff;
  padding: 0 5px;
  margin: 0 auto;
  width: 160px;
  z-index: 6;
  position: relative;
  margin-top: 75px;
  border-radius: 5px 5px 0 0;
}

.trey .bottom .inner {
  height: 110px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 5px 2px #978f8b;
}

.trey .grey-border {
  height: 10px;
  width: 175px;
  background-color: rgba(150, 150, 150, 0.2);
  margin: -1px -10px;
  top: 176px;
  position: absolute;
  z-index: 7;
  left: 50px;
}

.trey .pointer {
  height: 10px;
  width: 30px;
  background-color: #3c3637;
  margin: 0 15px;
  border-radius: 0 0 7px 7px;
  position: absolute;
  top: 176px;
  left: 45px;
  z-index: 7;
  -webkit-animation-name: pointer;
  -webkit-animation-duration: 4s;
  animation-name: pointer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.trey .bottom .inner:after {
  content: "";
  position: absolute;
  bottom: -7px;
  margin: 0 auto;
  height: 10px;
  border: 2px solid #100b0c;
  width: 70px;
  background-color: #443c3d;
  border-radius: 8px;
  left: 37px;
}

.button-layer {
  z-index: 3;
}

.button-layer .top-perspective {
  perspective: 100px;
  position: absolute;
  top: 80px;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #422a8f;
  border-radius: 10px 10px 0 0;
  border: 2px solid #100b0c;
  z-index: 4;
}

.button-layer .bottom {
  position: absolute;
  top: 132px;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #2e1285;
  border-radius: 0 0 10px 10px;
  border: 2px solid #100b0c;
  z-index: 5;
}

.buttons-container {
  background-color: #1f1d36;
  height: 25px;
  width: 120px;
  position: absolute;
  top: 125px;
  left: 50px;
  border-radius: 5px;
  border: 2px solid #100b0c;
  z-index: 5;
}

.button1,
.button2,
.button3 {
  background-color: #fff;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  float: left;
  z-index: 5;
}

.button1 {
  margin: 5px 0 0 10px;
  background-color: #85cceb;
}

.button2 {
  margin: 5px 0 0 10px;
  background-color: #f7d65b;
}

.button3 {
  margin: 5px 0 0 10px;
  background-color: #85cceb;
  position: absolute;
  top: 150px;
  right: 10px;
}

.paper1 {
  background-color: #fbfbfb;
  height: 150px;
  width: 130px;
  position: absolute;
  left: 10px;
  z-index: 5;
  border-radius: 10px;
  border: 2px solid #000;
  -webkit-animation-name: paper1;
  -webkit-animation-duration: 4s;
  animation-name: paper1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes paper1 {
  0% {
    top: -100px;
  }

  100% {
    top: 250px;
    border: 0;
  }
}

.paper2 {
  background-color: #fbfbfb;
  width: 130px;
  position: absolute;
  left: 58px;
  z-index: 6;
  border-radius: 0 0 10px 10px;
  border: 2px solid #000;
  -webkit-animation-name: paper2;
  -webkit-animation-duration: 4s;
  animation-name: paper2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  overflow: hidden;
}

@keyframes paper2 {
  0% {
    top: 175px;
    height: 0px;
  }

  10% {
    top: 175px;
    height: 0px;
  }

  80% {
    top: 175px;
    border-radius: 10px;
    height: 150px;
  }

  100% {
    top: 220px;
    border-radius: 10px;
  }
}

@keyframes pointer {
  0% {
    left: 45px;
  }

  10% {
    left: 145px;
  }

  20% {
    left: 45px;
  }

  30% {
    left: 145px;
  }

  40% {
    left: 45px;
  }

  50% {
    left: 145px;
  }

  60% {
    left: 45px;
  }

  70% {
    left: 145px;
  }

  80% {
    left: 45px;
  }
}

.e1,
.e2,
.e3,
.e6 {
  background-color: #d8d6d6;
  height: 10px;
  width: 90%;
  margin: 10px auto;
}

.e4,
.e5 {
  clear: both;
  display: table;
}

.e41,
.text,
.e42,
.e51,
.e52 {
  float: left;
}

.e41,
.e42,
.e51,
.e52 {
  background-color: #d8d6d6;
  height: 10px;
  margin: 5px 10px;
  width: 10px;
}

.e51,
.e52 {
  width: 28px;
}

.text {
  font-family: arial, verdana;
  font-weight: bold;
  font-size: 18px;
}

.enter-value-right h2 {
  text-align: center;
  width: 100%;
  padding: 0;
}

/* NoREsult.js */

/* NoREsult.js */


/* xxxxxxxxxx */

#carousel {
  position: absolute;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 780px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}

.level-2 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #228291;
  left: 650px;
  margin-top: 10px;
}

.level-1 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #6796e5;
  left: 500px;
  margin-top: 10px;
}

.level0 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #4ec9e1;
  left: 330px;
  margin-top: 10px;
}

.level1 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #6796e5;
  margin-top: 10px;
  left: 180px;
}

.level2 {
  height: 200px;
  width: 20%;
  line-height: 200px;
  background-color: #228291;
  margin-top: 10px;
  left: 50px;
}

.left-enter {
  opacity: 0;
  left: -60px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 50px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 780px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 760px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-leave {
  left: 50px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
}

.right-leave.right-leave-active {
  left: -60px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Brands.js */
.slider-main {
  -webkit-box-align: center;
  align-items: center;
  background: #e3e3e3;
  display: -webkit-box;
  display: flex;
  /* height: 25vh; */
  -webkit-box-pack: center;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 4));
    transform: translateX(calc(-250px * 4));
  }
}

.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(white),
      to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

/* Brands.js */






/* Footer.js */



/* login.js admin page */

.login-page {
  width: 100%;
  margin: auto;
}

.login-outer {
  width: 400px;
  height: 400px;
  margin: 4rem auto;
  text-align: center;
}

.login-outer .MuiPaper-root {
  padding: 6rem 1rem;
}

.login-mail .MuiInput-formControl,
.login-pass .MuiInput-formControl {
  width: 300px;
  margin: 2rem 0 !important;
}

/* login.js admin page */

/* admin buttons */

.admin-buttons {
  margin: 0rem 0.5rem !important;
}

.admin-buttons a,
.admin-buttons a:link,
.admin-buttons a:visited,
.admin-buttons a:hover {
  color: white !important;
}

/* admin buttons */

/* error 404 */
.popular-links .MuiBreadcrumbs-separator {
  margin: 0rem 3px 0rem 3px !important;
}

.popular-links {
  margin-top: 1rem;
  text-align: center;
  display: flex;
}

.popular-links nav {
  margin: auto;
  text-align: center;
}

/* error 404 */
/* Track Order */
.steps-to-follow .container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.steps-to-follow .card {
  position: relative;
  margin: 15px 0px;
  width: 100%;
  height: 300px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1.5s;
  /* box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5); */
}

.steps-to-follow .card:hover {
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.steps-to-follow .card .imageBox {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}

.steps-to-follow .card:hover .imageBox {
  transform: rotateY(-135deg);
}

.steps-to-follow .card .imageBox img {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.steps-to-follow .card .datalist {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
}

.card-tag {
  background-color: orangered;
  position: absolute;
  color: white;
  width: 60px;
  height: 30px;
  padding-left: 7px;
  padding-top: 5px;
  text-align: "center";
  border: 1px solid rgb(233, 183, 148);
  border-radius: 30px;
  z-index: 20;
}

/* .steps-to-follow */
/* Track Order */

/* how to order */
.steps {
  width: 100%;
}

.steps li:hover {
  filter: invert(80%);
}

.steps ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  /* Keep using default numbering for IE6/7 */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.steps ol ol {
  margin-left: 2em;
}

.steps .rounded-list a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  *padding: 0.4em;
  margin: 0.5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.5s ease-out;
}

.steps .rounded-list a h4 {
  color: orangered;
  font-weight: 600;
  margin: 0.4rem 0rem 0.4rem 0rem;
  text-emphasis-style: sesame;
}

.steps .rounded-list a:hover {
  background: #eee;
}

.steps .rounded-list a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 3em;
  width: 3em;
  line-height: 2.1em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}


@media screen and (max-width: 480px) {


  body .MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .global-search-input {
    width: 94%;
    margin: 0px 3%;

  }
}