.global-search {
    text-align: center;
    width: 100%;
    position: relative;
}

.global-search-input {
    width: 98%;
    margin: 0 1%;
    /* padding: 0 0.5rem; */
}

.global-search-input .MuiFormControl-root {
    width: 100%;
}

.global-search-input .MuiInputBase-input {
    margin: 0 1rem;
}

.global-search ul {
    padding: 0;
    margin: 0 1%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    z-index: 999;
    position: absolute;
    display: block;
    width: 98%;
}

.global-search ul>a {
    border: none !important;
    background-color: whitesmoke;
    /* color: brown; */
}

.global-search ul>a:hover {
    border: none !important;
    background-color: rgb(220, 220, 220);
    /* color: brown; */
}